@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: grey;

}

.fa-arrow-right{
    float: right;
    margin-right: 25px;
    margin-top: 570px;
    position: relative;
	text-decoration: none;
    color: black

}


.fa-arrow-right:hover{

    cursor: pointer;
    color: rgb(117, 117, 117);

}


h1 {

    font-family: 'poppins';
    text-align: center;
    text-decoration: underline;
    color: white;


}


h3 {
    margin-left: 90px;
    font-style: italic;
}

#Sakura {
    margin-top: 80px;
    margin-left: 20px;
    height: 150px;
    border-radius: 6px 6px 6px 6px;
}



.footer {
    background-color: #474747;
    color: white;               
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}